<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxszj.mapper.sap.HsXsdddjysTbMapper" >
  <resultMap id="BaseResultMap" type="com.jxszj.pojo.sap.HsXsdddjysTb" >
  	<id column="id" property="id" jdbcType="VARCHAR" />
    <result column="xspz" property="xspz" jdbcType="VARCHAR" />
    <result column="xspzxm" property="xspzxm" jdbcType="VARCHAR" />
    <result column="wlz" property="wlz" jdbcType="VARCHAR" />
    <result column="ddsl" property="ddsl" jdbcType="DOUBLE" />
    <result column="xsdw" property="xsdw" jdbcType="VARCHAR" />
    <result column="dhlx" property="dhlx" jdbcType="VARCHAR" />
    <result column="cjptcdgd" property="cjptcdgd" jdbcType="VARCHAR" />
    <result column="cjptcj" property="cjptcj" jdbcType="VARCHAR" />
    <result column="qt" property="qt" jdbcType="VARCHAR" />
    <result column="gcgd" property="gcgd" jdbcType="VARCHAR" />
    <result column="cpbm" property="cpbm" jdbcType="VARCHAR" />
    <result column="jj" property="jj" jdbcType="DOUBLE" />
    <result column="jz" property="jz" jdbcType="DOUBLE" />
    <result column="pzhb" property="pzhb" jdbcType="VARCHAR" />
    <result column="cjrq" property="cjrq" jdbcType="VARCHAR" />
    <result column="xszz" property="xszz" jdbcType="VARCHAR" />
    <result column="fxqd" property="fxqd" jdbcType="VARCHAR" />
    <result column="jxskhbm" property="jxskhbm" jdbcType="VARCHAR" />
    <result column="dhdh" property="dhdh" jdbcType="VARCHAR" />
    <result column="th" property="th" jdbcType="VARCHAR" />
    <result column="jjzt" property="jjzt" jdbcType="VARCHAR" />
    <result column="qxyy" property="qxyy" jdbcType="VARCHAR" />
    <result column="thyy" property="thyy" jdbcType="VARCHAR" />
    <result column="jjyy" property="jjyy" jdbcType="VARCHAR" />
    <result column="cpms" property="cpms" jdbcType="VARCHAR" />
    <result column="wlzms" property="wlzms" jdbcType="VARCHAR" />
    <result column="jxskhmc" property="jxskhmc" jdbcType="VARCHAR" />
    <result column="bzjgtjjz" property="bzjgtjjz" jdbcType="DOUBLE" />
    <result column="bzjgje" property="bzjgje" jdbcType="DOUBLE" />
    <result column="khzktjjz" property="khzktjjz" jdbcType="DOUBLE" />
    <result column="khzkje" property="khzkje" jdbcType="DOUBLE" />
    <result column="syfltjjz" property="syfltjjz" jdbcType="DOUBLE" />
    <result column="syflje" property="syflje" jdbcType="DOUBLE" />
    <result column="cdbltjjz" property="cdbltjjz" jdbcType="DOUBLE" />
    <result column="cdblje" property="cdblje" jdbcType="DOUBLE" />
    <result column="xxstjjz" property="xxstjjz" jdbcType="DOUBLE" />
    <result column="xsje" property="xsje" jdbcType="DOUBLE" />
    <result column="bzcbgjtjjz" property="bzcbgjtjjz" jdbcType="DOUBLE" />
    <result column="bzcbgjje" property="bzcbgjje" jdbcType="DOUBLE" />
    <result column="jsjtjjz" property="jsjtjjz" jdbcType="DOUBLE" />
    <result column="jsjje" property="jsjje" jdbcType="DOUBLE" />
    <result column="pp" property="pp" jdbcType="VARCHAR" />
    <result column="cpmc" property="cpmc" jdbcType="VARCHAR" />
    <result column="psph" property="psph" jdbcType="VARCHAR" />
    <result column="ggxh" property="ggxh" jdbcType="VARCHAR" />
    <result column="ggrq" property="ggrq" jdbcType="VARCHAR" />
    <result column="xspzlx" property="xspzlx" jdbcType="VARCHAR" />
    <result column="cjny" property="cjny" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, xspz, xspzxm, wlz, ddsl, xsdw, dhlx, cjptcdgd, cjptcj, qt, gcgd, cpbm, jj, jz, pzhb, 
    cjrq, xszz, fxqd, jxskhbm, dhdh, th, jjzt, qxyy, thyy, jjyy, cpms, wlzms, jxskhmc, 
    bzjgtjjz, bzjgje, khzktjjz, khzkje, syfltjjz, syflje, cdbltjjz, cdblje, xxstjjz, 
    xsje, bzcbgjtjjz, bzcbgjje, jsjtjjz, jsjje, pp, cpmc, psph, ggxh, ggrq, xspzlx, cjny
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jxszj.pojo.sap.HsXsdddjysTbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hs_xsdddjys_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.jxszj.pojo.sap.HsXsdddjysTb" >
    insert into hs_xsdddjys_tb (id, xspz, xspzxm, wlz, 
      ddsl, xsdw, dhlx, cjptcdgd, 
      cjptcj, qt, gcgd, cpbm, 
      jj, jz, pzhb, cjrq, 
      xszz, fxqd, jxskhbm, 
      dhdh, th, jjzt, qxyy, 
      thyy, jjyy, cpms, wlzms, 
      jxskhmc, bzjgtjjz, bzjgje, 
      khzktjjz, khzkje, syfltjjz, 
      syflje, cdbltjjz, cdblje, 
      xxstjjz, xsje, bzcbgjtjjz, 
      bzcbgjje, jsjtjjz, jsjje, 
      pp, cpmc, psph, ggxh, ggrq, xspzlx, cjny
      )
    values (#{id,jdbcType=VARCHAR}, #{xspz,jdbcType=VARCHAR}, #{xspzxm,jdbcType=VARCHAR}, #{wlz,jdbcType=VARCHAR}, 
      #{ddsl,jdbcType=DOUBLE}, #{xsdw,jdbcType=VARCHAR}, #{dhlx,jdbcType=VARCHAR}, #{cjptcdgd,jdbcType=VARCHAR}, 
      #{cjptcj,jdbcType=VARCHAR}, #{qt,jdbcType=VARCHAR}, #{gcgd,jdbcType=VARCHAR}, #{cpbm,jdbcType=VARCHAR}, 
      #{jj,jdbcType=DOUBLE}, #{jz,jdbcType=DOUBLE}, #{pzhb,jdbcType=VARCHAR}, #{cjrq,jdbcType=VARCHAR}, 
      #{xszz,jdbcType=VARCHAR}, #{fxqd,jdbcType=VARCHAR}, #{jxskhbm,jdbcType=VARCHAR}, 
      #{dhdh,jdbcType=VARCHAR}, #{th,jdbcType=VARCHAR}, #{jjzt,jdbcType=VARCHAR}, #{qxyy,jdbcType=VARCHAR}, 
      #{thyy,jdbcType=VARCHAR}, #{jjyy,jdbcType=VARCHAR}, #{cpms,jdbcType=VARCHAR}, #{wlzms,jdbcType=VARCHAR}, 
      #{jxskhmc,jdbcType=VARCHAR}, #{bzjgtjjz,jdbcType=DOUBLE}, #{bzjgje,jdbcType=DOUBLE}, 
      #{khzktjjz,jdbcType=DOUBLE}, #{khzkje,jdbcType=DOUBLE}, #{syfltjjz,jdbcType=DOUBLE}, 
      #{syflje,jdbcType=DOUBLE}, #{cdbltjjz,jdbcType=DOUBLE}, #{cdblje,jdbcType=DOUBLE}, 
      #{xxstjjz,jdbcType=DOUBLE}, #{xsje,jdbcType=DOUBLE}, #{bzcbgjtjjz,jdbcType=DOUBLE}, 
      #{bzcbgjje,jdbcType=DOUBLE}, #{jsjtjjz,jdbcType=DOUBLE}, #{jsjje,jdbcType=DOUBLE}, 
      #{pp,jdbcType=VARCHAR}, #{cpmc,jdbcType=VARCHAR}, #{psph,jdbcType=VARCHAR}, #{ggxh,jdbcType=VARCHAR}, #{ggrq,jdbcType=VARCHAR}, #{xspzlx,jdbcType=VARCHAR}, #{cjny,jdbcType=VARCHAR}
      )
  </insert>
  
<!--批量添加  -->
  <insert id="insertOrUpdateByBatch" parameterType="java.util.List">
    insert into hs_xsdddjys_tb (id, xspz, xspzxm, wlz, 
      ddsl, xsdw, dhlx, cjptcdgd, 
      cjptcj, qt, gcgd, cpbm, 
      jj, jz, pzhb, cjrq, 
      xszz, fxqd, jxskhbm, 
      dhdh, th, jjzt, qxyy, 
      thyy, jjyy, cpms, wlzms, 
      jxskhmc, bzjgtjjz, bzjgje, 
      khzktjjz, khzkje, syfltjjz, 
      syflje, cdbltjjz, cdblje, 
      xxstjjz, xsje, bzcbgjtjjz, 
      bzcbgjje, jsjtjjz, jsjje, 
      pp, cpmc, psph, ggxh, ggrq, xspzlx, cjny
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    	(#{item.id,jdbcType=VARCHAR}, #{item.xspz,jdbcType=VARCHAR}, #{item.xspzxm,jdbcType=VARCHAR}, #{item.wlz,jdbcType=VARCHAR}, 
      #{item.ddsl,jdbcType=INTEGER}, #{item.xsdw,jdbcType=VARCHAR}, #{item.dhlx,jdbcType=VARCHAR}, #{item.cjptcdgd,jdbcType=VARCHAR}, 
      #{item.cjptcj,jdbcType=VARCHAR}, #{item.qt,jdbcType=VARCHAR}, #{item.gcgd,jdbcType=VARCHAR}, #{item.cpbm,jdbcType=VARCHAR}, 
      #{item.jj,jdbcType=DOUBLE}, #{item.jz,jdbcType=DOUBLE}, #{item.pzhb,jdbcType=VARCHAR}, #{item.cjrq,jdbcType=VARCHAR}, 
      #{item.xszz,jdbcType=VARCHAR}, #{item.fxqd,jdbcType=VARCHAR}, #{item.jxskhbm,jdbcType=VARCHAR}, 
      #{item.dhdh,jdbcType=VARCHAR}, #{item.th,jdbcType=VARCHAR}, #{item.jjzt,jdbcType=VARCHAR}, #{item.qxyy,jdbcType=VARCHAR}, 
      #{item.thyy,jdbcType=VARCHAR}, #{item.jjyy,jdbcType=VARCHAR}, #{item.cpms,jdbcType=VARCHAR}, #{item.wlzms,jdbcType=VARCHAR}, 
      #{item.jxskhmc,jdbcType=VARCHAR}, #{item.bzjgtjjz,jdbcType=DOUBLE}, #{item.bzjgje,jdbcType=DOUBLE}, 
      #{item.khzktjjz,jdbcType=DOUBLE}, #{item.khzkje,jdbcType=DOUBLE}, #{item.syfltjjz,jdbcType=DOUBLE}, 
      #{item.syflje,jdbcType=DOUBLE}, #{item.cdbltjjz,jdbcType=DOUBLE}, #{item.cdblje,jdbcType=DOUBLE}, 
      #{item.xxstjjz,jdbcType=DOUBLE}, #{item.xsje,jdbcType=DOUBLE}, #{item.bzcbgjtjjz,jdbcType=DOUBLE}, 
      #{item.bzcbgjje,jdbcType=DOUBLE}, #{item.jsjtjjz,jdbcType=DOUBLE}, #{item.jsjje,jdbcType=DOUBLE}, 
      #{item.pp,jdbcType=VARCHAR}, #{item.cpmc,jdbcType=VARCHAR}, #{item.psph,jdbcType=VARCHAR}, #{item.ggxh,jdbcType=VARCHAR}, #{item.ggrq,jdbcType=VARCHAR}, #{item.xspzlx,jdbcType=VARCHAR},
      #{item.cjny,jdbcType=VARCHAR}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE 
    xspz=values(xspz),xspzxm=values(xspzxm),wlz=values(wlz),ddsl=values(ddsl),xsdw=values(xsdw),dhlx=values(dhlx),cjptcdgd=values(cjptcdgd),cjptcj=values(cjptcj),
    qt=values(qt),gcgd=values(gcgd),cpbm=values(cpbm),jj=values(jj),jz=values(jz),pzhb=values(pzhb),cjrq=values(cjrq),xszz=values(xszz),
    fxqd=values(fxqd),jxskhbm=values(jxskhbm),dhdh=values(dhdh),th=values(th),jjzt=values(jjzt),qxyy=values(qxyy),thyy=values(thyy),
    jjyy=values(jjyy),cpms=values(cpms),wlzms=values(wlzms),jxskhmc=values(jxskhmc),bzjgtjjz=values(bzjgtjjz),bzjgje=values(bzjgje),khzktjjz=values(khzktjjz),khzkje=values(khzkje),syfltjjz=values(syfltjjz),
    syflje=values(syflje),cdbltjjz=values(cdbltjjz),cdblje=values(cdblje),xxstjjz=values(xxstjjz),xsje=values(xsje),bzcbgjtjjz=values(bzcbgjtjjz),bzcbgjje=values(bzcbgjje),jsjtjjz=values(jsjtjjz),
    jsjje=values(jsjje),pp=values(pp),cpmc=values(cpmc),th=values(th),psph=values(psph),ggxh=values(ggxh),ggrq=values(ggrq),xspzlx=values(xspzlx),cjny=values(cjny)
  </insert>
  
  <select id="selectXdje" parameterType="java.lang.String" resultType="Double" >
  	SELECT IFNULL(SUM(cdbltjjz),0) as xdje FROM hs_xsdddjys_tb WHERE dhlx IN('日常返单' ,'重装-赠送') AND xspzlx='OR' AND jjzt='A' AND dhdh LIKE 'JD%' and jxskhbm=#{jxskhbm} and cjny=#{cjny}
  </select>
  
   <select id="selectGdXdje" parameterType="java.lang.String" resultType="Double" >
  	SELECT IFNULL(SUM(cdbltjjz),0) as xdje FROM hs_xsdddjys_tb WHERE xspzlx='OR' AND jjzt='A' AND dhdh LIKE 'JD%' and jxskhbm=#{jxsbm} and cjny=#{cjny}
  </select>
</mapper>